name: Azure Pipelines
stages:
- stage: Build
  jobs:
  - job: Build
    pool:
      name: Azure Pipelines
    steps:
    - task: InstallSSHKey@0
      displayName: 'Install SSH Key'
      inputs:
        knownHostsEntry: 'SHA256:mdU7wqIx5scJzMcEQp5BCY9Z/R7sBDgd0pCbDmRyIIE bkelava@github.com'
        sshKeySecureFile: 'id_rsa'    
    - task: ms-devlabs.custom-terraform-tasks.custom-terraform-release-task.TerraformTaskV2@2
      displayName: 'Terraform : azurerm'
      inputs:
        backendServiceArm: 'Azure subscription 1 (cd0e3e14-48ba-42ac-b0d2-13d78472acc3)'
        backendAzureRmResourceGroupName: RG
        backendAzureRmStorageAccountName: terraformkelava
        backendAzureRmContainerName: blobkelava
        backendAzureRmKey: DbJ3u3rW
    - task: TerraformInstaller@0
      displayName: 'Install Terraform'
      inputs:
        terraformVersion: '0.13.5'
    - task: TerraformTaskV1@0
      displayName: 'Terraform Init'
      inputs:
        provider: 'azurerm'
        command: 'init'
        backendServiceArm: 'Azure subscription 1 (cd0e3e14-48ba-42ac-b0d2-13d78472acc3)'
        backendAzureRmResourceGroupName: 'RG'
        backendAzureRmStorageAccountName: 'terraformkelava'
        backendAzureRmContainerName: 'blobkelava'
        backendAzureRmKey: 'terraform.tfstate'
        workingDirectory: '$(System.DefaultWorkingDirectory)/terraform'
    - task: TerraformTaskV1@0
      displayName: 'Terraform Apply'
      inputs:
        provider: 'azurerm'
        command: 'apply'
        workingDirectory: '$(System.DefaultWorkingDirectory)/terraform'
        commandOptions: '-auto-approve -var="public_key=$(myPubKey))"'
        environmentServiceNameAzureRM: 'Azure subscription 1 (cd0e3e14-48ba-42ac-b0d2-13d78472acc3)'
    - task: ArchiveFiles@2
      displayName: 'Archive FakeRestAPI Web App'
      inputs:
        rootFolderOrFile: 'automatedtesting/jmeter/fakerestapi'
        includeRootFolder: false
        archiveType: 'zip'
        archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId)-fakerestapi.zip'
    - publish: $(Build.ArtifactStagingDirectory)/$(Build.BuildId)-fakerestapi.zip
      displayName: 'Upload Fakerestapi Package'
      artifact: drop-fakerestapi
    - task: ArchiveFiles@2
      displayName: 'Archive Selenium Tests'
      inputs:
        rootFolderOrFile: 'automatedtesting/selenium'
        includeRootFolder: false
        archiveType: 'zip'
        archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId)-selenium.zip'
    - publish: $(Build.ArtifactStagingDirectory)/$(Build.BuildId)-selenium.zip
      displayName: 'Upload Selenium Package'
      artifact: selenium

- stage: Deploy
  jobs:
  - deployment: FakeRestAPI
    displayName: 'Deploy Web App'
    pool:
      vmImage: 'Ubuntu-20.04'
    environment: 'TEST'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: AzureWebApp@1
            displayName: 'Deploy CodingAPP to App Service'
            inputs:
              azureSubscription: 'Azure subscription 1 (cd0e3e14-48ba-42ac-b0d2-13d78472acc3)'
              appName: 'EQRkelava-AppService'
              appType: webApp
              package: $(Pipeline.Workspace)/drop-fakerestapi/$(Build.BuildId)-fakerestapi.zip
  - deployment: VMDeploy
    displayName: 'Deploy Virtual Machine'
    environment:
      name:  'DEV'
      resourceType: VirtualMachine
    strategy:
      runOnce:
        deploy:
          steps:
          - task: Bash@3
            inputs:
              targetType: 'inline'
              script: |
                #! /bin/bash
                
                sudo apt-get upgrade -y
                sudo apt-get install python3-pip -y
                sudo apt-get install unzip -y
                sudo apt-get install -y chromium-browser
                pip3 install selenium
                
                # download chrome driver
                FILE=chromedriver_linux64.zip
                if [ -f "$FILE" ]; then
                  echo "$FILE exists."
                else
                  wget https://chromedriver.storage.googleapis.com/2.41/chromedriver_linux64.zip
                fi
                # install chrome driver
                unzip chromedriver_linux64.zip
                sudo mv chromedriver /usr/bin/chromedriver
                sudo chown root:root /usr/bin/chromedriver
                sudo chmod +x /usr/bin/chromedriver
                chromium-browser -version
                chromedriver --version
                # agent log analytics
                wget https://raw.githubusercontent.com/Microsoft/OMS-Agent-for-Linux/master/installer/scripts/onboard_agent.sh && sh onboard_agent.sh -w dbf2bd83-6d47-436b-a499-a2b566def8fe -s MuSR8Ti5MMi0E+9+1NM4NxCxFqJcfLzuGD0EtGhjXo3Vhy/THcSdCf1WyQnkXafD+6DiFjiOAEfJiQh6EbZVeg== -d opinsights.azure.com
          - task: ExtractFiles@1
            displayName: 'Copy Selenium Archive to VM'
            inputs:
              archiveFilePatterns: '$(Agent.BuildDirectory)/selenium/$(Build.BuildId)-selenium.zip'
              destinationFolder: '$(System.DefaultWorkingDirectory)/Selenium'
              cleanDestinationFolder: true
              overwriteExistingFiles: true
          - task: Bash@3
            displayName: 'Install Packages'
            inputs:
              targetType: 'inline'
              script: 'pip3 install -r requirements.txt'
              workingDirectory: '$(System.DefaultWorkingDirectory)/Selenium'
          - task: Bash@3
            displayName: 'Create a Folder for logs'
            inputs:
              targetType: 'inline'
              script: |
                mkdir -p $(Agent.BuildDirectory)/vmlogs
          - task: Bash@3
            displayName: 'Run Selenium Python Tests'
            inputs:
              targetType: 'inline'
              script: 'python3 login.py | tee -a $(Agent.BuildDirectory)/vmlogs/$(Build.BuildId)-log.txt'
              workingDirectory: '$(System.DefaultWorkingDirectory)/Selenium'   
  - job: IntergrationTesting
    displayName: 'Run Postman Data Validation API Test'
    steps:
    - checkout: self
      clean: true
    - task: CmdLine@2
      displayName: 'Install Newman'
      inputs:
        script: >
          sudo npm install -g newman
        workingDirectory: $(System.DefaultWorkingDirectory)
    - task: CmdLine@2
      displayName: 'Run API Tests'
      inputs:
        script: >
          newman run starterdata.json -d startertestdata.json -e starterenvironment.json --reporters cli,junit --reporter-junit-export junitReport.xml
        workingDirectory: automatedtesting/postman
        failOnStderr: true
      continueOnError: true
    - task: CopyFiles@2
      displayName: 'Copy Test Results'
      inputs:
        SourceFolder: '$(System.DefaultWorkingDirectory)/automatedtesting/postman'
        Contents: '**/*.xml'
        TargetFolder: '$(build.artifactstagingdirectory)/automatedtesting/postman'
    - task: PublishTestResults@2
      displayName: 'Publish Test Results'
      inputs:
        testResultsFormat: 'JUnit'
        testResultsFiles: '**/*.xml'
        searchFolder: '$(System.DefaultWorkingDirectory)/automatedtesting/postman'
  - job: IntergrationRegressopmTesting
    displayName: 'Run Postman Regression API Test'
    steps:
    - checkout: self
      clean: true
    - task: CmdLine@2
      displayName: 'Install Newman'
      inputs:
        script: >
          sudo npm install -g newman
        workingDirectory: $(System.DefaultWorkingDirectory)
    - task: CmdLine@2
      displayName: 'Run API Tests'
      inputs:
        script: >
          newman run starterregression.json -d startertestdata.json -e starterenvironment.json --reporters cli,junit --reporter-junit-export junitReport.xml
        workingDirectory: automatedtesting/postman
        failOnStderr: true
      continueOnError: true 
    - task: CopyFiles@2
      displayName: 'Copy Test Results'
      inputs:
        SourceFolder: '$(System.DefaultWorkingDirectory)/automatedtesting/postman'
        Contents: '**/*.xml'
        TargetFolder: '$(build.artifactstagingdirectory)/automatedtesting/postman'
      continueOnError: true
    - task: PublishTestResults@2
      displayName: 'Publish Test Results'
      inputs:
        testResultsFormat: 'JUnit'
        testResultsFiles: '**/*.xml'
        searchFolder: '$(System.DefaultWorkingDirectory)/automatedtesting/postman'
  - job: PerformanceEnduranceTesting
    displayName: Run Endurance tests
    steps:
    - task: Bash@3
      displayName: Execute JMeter Endurance tests
      inputs:
        targetType: filePath
        filePath: '$(System.DefaultWorkingDirectory)/automatedtesting/jmeter/test.sh'
        arguments: '$(System.DefaultWorkingDirectory)/automatedtesting/jmeter Endurance.jmx $(host)'
        workingDirectory: '$(System.DefaultWorkingDirectory)/automatedtesting/jmeter'
        failOnStderr: false
    - task: PublishPipelineArtifact@1
      displayName: Publish JMeter Report
      inputs:
        targetPath: '$(System.DefaultWorkingDirectory)/automatedtesting/jmeter/report'
        artifact: 'Jmeter Endurance Test Report'
  - job: PerformanceStressTesting
    displayName: Run Stress tests
    steps:
    - task: Bash@3
      displayName: Execute JMeter Stress tests
      inputs:
        targetType: filePath
        filePath: '$(System.DefaultWorkingDirectory)/automatedtesting/jmeter/test.sh'
        arguments: '$(System.DefaultWorkingDirectory)/automatedtesting/jmeter Stress.jmx $(host)'
        workingDirectory: '$(System.DefaultWorkingDirectory)/automatedtesting/jmeter'
        failOnStderr: false
    - task: PublishPipelineArtifact@1
      displayName: Publish JMeter Report
      inputs:
        targetPath: '$(System.DefaultWorkingDirectory)/automatedtesting/jmeter/report'
        artifact: 'Jmeter Stress Test Report'
